// main.scss
//

@import 'mq';
@import 'grid';

@mixin clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// BASE
//

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
}
body {
  color: #404040;
  font-size: 16px;
  line-height: 22px; // 1.4
  // -webkit-font-smoothing: antialiased;
}
h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}


// PAGE
//

.page {
  padding: 72px 4px 72px 4px;
  margin: 0 auto;
  max-width: 1280px;
}

// SLICE
//

@import '8-slice';


// OBJECTS
//

.promo {
  padding-left: 4px;
  padding-right: 4px;
}
  .promo__thumb {
    display: block;
    width: 100%;
  }
  .promo__headline {
    font-size: 18px;
    margin-top: 8px;
  }
  .promo__metadata {
    margin-top: 8px;
    margin-bottom: 0;
  }

.metadata {
  @include clearfix;
  color: #5A5A5A;
  font-size: 14px;
  line-height: 1;
  list-style: none;
  padding-left: 0;

  li {
    float: left;
    margin-right: 6px;
  }
}
  .metadata__timestamp {
    border-right: 1px solid #CCC;
    padding-right: 6px;
  }
  .metadata__section {
    color: #A61B1B;
  }

// Ad
.ad {
  background-color: #999;
  margin: 0 auto;
  height: 250px;
  width: 300px;
}
